<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Queue Ticketing App</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <!-- Alert message to notify user -->
    <% if (locals.message != null) { %>
        <div class="alert alert-danger py-2"><strong><%= message %></strong></div>
    <% } %>

    <div class="container" style="width: 100%;margin-top: 50px;">
        <h3>Counter Management</h3>
    </div>
    <div class="container">
        <div class="row text-center" style="margin-top: 20px;">
        <% if (locals.counter != null) { %>
            <% for(let i = 0; i < counter.length; i++) { %>
                <div class="col">
                    <div class="card" >
                        <div class="card-body">  
                            <h4 class="card-title">Counter <%= counter[i].counterNum %></h4>
                            
                                <div class="col">
                                        <% if (counter[i].counterStatus == "offline") { %>
                                        <div class="row">
                                            <form action="/counter_management_view/setOnlineOffline/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                <input type="hidden" name="updateStatus" value="online">
                                                <button class="btn btn-primary btn-sm" type="submit">Go Online</button>
                                            </form>
                                        </div>
                                        <div class="row">
                                            <div class="col" style="margin-top: 10px;">
                                            <form action="/counter_management_view/completeCurr/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                <button class="btn btn-primary btn-sm" type="submit" value="" disabled>Complete Current<br></button>
                                            </form>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col" style="margin-top: 10px;">
                                                <button class="btn btn-primary btn-sm" type="submit" value="" disabled>Call Next<br></button>
                                            </div>
                                        </div>
                                        <% } else if (counter[i].counterStatus == "online") { %>
                                            <div class="row">
                                                <form action="/counter_management_view/setOnlineOffline/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                    <input type="hidden" name="updateStatus" value="offline">
                                                    <button class="btn btn-primary btn-sm" type="submit">Go Offline</button>
                                                </form>
                                            </div>
                                            <div class="row">
                                                <div class="col" style="margin-top: 10px;">
                                                    <form action="/counter_management_view/completeCurr/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                        <button class="btn btn-primary btn-sm" type="submit">Complete Current<br></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col" style="margin-top: 10px;">
                                                    <form action="/counter_management_view/callNext/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                        <button class="btn btn-primary btn-sm" type="submit">Call Next<br></button>
                                                    </form>
                                                </div>
                                            </div>
                                        <% } else if (counter[i].counterStatus == "busy") { %>
                                            <div class="row">
                                                <form action="/counter_management_view/setOnlineOffline/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                    <button class="btn btn-primary btn-sm" type="submit">Go Offline</button>
                                                </form>
                                            </div>
                                            <div class="row">
                                                <div class="col" style="margin-top: 10px;">
                                                    <form action="/counter_management_view/completeCurr/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                        <button class="btn btn-primary btn-sm" type="submit">Complete Current<br></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col" style="margin-top: 10px;">
                                                    <form action="/counter_management_view/callNext/<%=counter[i].counterNum %>?_method=PUT" method="POST"> 
                                                        <button class="btn btn-primary btn-sm" type="submit">Call Next<br></button>
                                                    </form>
                                                </div>
                                            </div>
                                        <% } %>
                                </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %> 
        </div>
    </div>
    <script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/assets/bootstrap/js/customer_view.js"></script>
</body>

</html>
